@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }

body, div, span, p, input, textarea, ul, ol, li, a, td, th, h1, h2, h3, h4, h5, h6, option{
	font-family: 'S-CoreDream-3Light'; 
}

body, html{
	border: 1px solid #eee;	
}

.container{
	width: 1000px;
	margin-top:10px;
}

.mainphoto{
	width:1000px; 
	height:670px;
}

.navbar-width{
	width:140px;
	font-size: 25px;
	display: inline-block;
	text-align: center;
}

#header{
	
}

#section{
	min-height: 500px;
}

#footer{
	text-align: center;
}

.mainTitle{
	text-align: center;
	padding:20px;
}




